/*#canvas-wrapper {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    display: inline-block;*/
/*    float: right;*/
/*}*/

#canvas {
    position: relative;
    top: auto;
    display: inline-block;
    right: 0;
    width: 75%
}