
#data-description-container {
    display: inline-block;
    flex-direction: column;
    padding-left: 1em;
    margin-bottom: 7px;
    margin-top: 10px;
    padding-right: 15px;
    justify-content: space-evenly;
}