
#data-description-container {
    display: inline-block;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 15px;
    justify-content: space-evenly;
    width: 50%
}

#drop-zone {
    display: inline-block;
    width: 50%;
}